version: '3.8'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tracker_db
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"